.property-vertical {
  align-items: center;
  background-color: var(--icy-gray);
  display: flex;
  gap: 8px;
  padding: 8px;
  position: relative;
  width: 184px;
}

.property-vertical .text {
  color: var(--colorsgreyscale-600);
  flex: 1;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -2px;
  position: relative;
}

.property-vertical .icons {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}
