:root {
  --bad-but-not-worst: rgba(255, 130, 39, 1);
  --body-regular-4-font-family: "Manrope-Medium", Helvetica;
  --body-regular-4-font-size: 16px;
  --body-regular-4-font-style: normal;
  --body-regular-4-font-weight: 500;
  --body-regular-4-letter-spacing: 0px;
  --body-regular-4-line-height: 24px;
  --body-semibold-1-font-family: "Manrope-SemiBold", Helvetica;
  --body-semibold-1-font-size: 22px;
  --body-semibold-1-font-style: normal;
  --body-semibold-1-font-weight: 600;
  --body-semibold-1-letter-spacing: 0px;
  --body-semibold-1-line-height: 30px;
  --body-semibold-4-font-family: "Manrope-SemiBold", Helvetica;
  --body-semibold-4-font-size: 16px;
  --body-semibold-4-font-style: normal;
  --body-semibold-4-font-weight: 600;
  --body-semibold-4-letter-spacing: 0px;
  --body-semibold-4-line-height: 24px;
  --body-semibold-5-font-family: "Manrope-SemiBold", Helvetica;
  --body-semibold-5-font-size: 14px;
  --body-semibold-5-font-style: normal;
  --body-semibold-5-font-weight: 600;
  --body-semibold-5-letter-spacing: 0px;
  --body-semibold-5-line-height: 22px;
  --colorsgreyscale-100: rgba(255, 255, 255, 1);
  --colorsgreyscale-500: rgba(105, 105, 107, 1);
  --colorsgreyscale-600: rgba(17, 17, 17, 1);
  --headings-desktop-h4-font-family: "Manrope-SemiBold", Helvetica;
  --headings-desktop-h4-font-size: 26px;
  --headings-desktop-h4-font-style: normal;
  --headings-desktop-h4-font-weight: 600;
  --headings-desktop-h4-letter-spacing: 0px;
  --headings-desktop-h4-line-height: 34px;
  --hover-pad: rgba(0, 119, 182, 0.12);
  --icy-gray: rgba(242, 242, 245, 1);
  --selected-tab: ;
  --shadow-2: 0px 24px 36px 0px rgba(52, 87, 140, 0.12);
  --star: rgba(255, 139, 4, 1);
}
