:root {
  --bad-but-not-worst: rgba(255, 130, 39, 1);
  --body-regular-5-font-family: "Manrope-Medium", Helvetica;
  --body-regular-5-font-size: 14px;
  --body-regular-5-font-style: normal;
  --body-regular-5-font-weight: 500;
  --body-regular-5-letter-spacing: 0px;
  --body-regular-5-line-height: 22px;
  --body-regular-6-font-family: "Manrope-Regular", Helvetica;
  --body-regular-6-font-size: 12px;
  --body-regular-6-font-style: normal;
  --body-regular-6-font-weight: 400;
  --body-regular-6-letter-spacing: 0px;
  --body-regular-6-line-height: 20px;
  --body-semibold-1-font-family: "Manrope-SemiBold", Helvetica;
  --body-semibold-1-font-size: 22px;
  --body-semibold-1-font-style: normal;
  --body-semibold-1-font-weight: 600;
  --body-semibold-1-letter-spacing: 0px;
  --body-semibold-1-line-height: 30px;
  --body-semibold-4-font-family: "Manrope-SemiBold", Helvetica;
  --body-semibold-4-font-size: 16px;
  --body-semibold-4-font-style: normal;
  --body-semibold-4-font-weight: 600;
  --body-semibold-4-letter-spacing: 0px;
  --body-semibold-4-line-height: 24px;
  --body-semibold-5-font-family: "Manrope-SemiBold", Helvetica;
  --body-semibold-5-font-size: 14px;
  --body-semibold-5-font-style: normal;
  --body-semibold-5-font-weight: 600;
  --body-semibold-5-letter-spacing: 0px;
  --body-semibold-5-line-height: 22px;
  --body-semibold-6-font-family: "Manrope-SemiBold", Helvetica;
  --body-semibold-6-font-size: 12px;
  --body-semibold-6-font-style: normal;
  --body-semibold-6-font-weight: 600;
  --body-semibold-6-letter-spacing: 0px;
  --body-semibold-6-line-height: 20px;
  --body-small-regular-font-family: "Manrope-Regular", Helvetica;
  --body-small-regular-font-size: 14px;
  --body-small-regular-font-style: normal;
  --body-small-regular-font-weight: 400;
  --body-small-regular-letter-spacing: 0px;
  --body-small-regular-line-height: 24px;
  --colorsaccentdanger: rgba(245, 44, 29, 1);
  --colorsgreyscale-100: rgba(255, 255, 255, 1);
  --colorsgreyscale-300: rgba(213, 213, 222, 1);
  --colorsgreyscale-400: rgba(171, 171, 181, 1);
  --colorsgreyscale-500: rgba(105, 105, 107, 1);
  --colorsgreyscale-600: rgba(17, 17, 17, 1);
  --headings-desktop-h3-font-family: "Manrope-SemiBold", Helvetica;
  --headings-desktop-h3-font-size: 34px;
  --headings-desktop-h3-font-style: normal;
  --headings-desktop-h3-font-weight: 600;
  --headings-desktop-h3-letter-spacing: 0px;
  --headings-desktop-h3-line-height: 42px;
  --headings-mobile-h5-font-family: "Manrope-SemiBold", Helvetica;
  --headings-mobile-h5-font-size: 16px;
  --headings-mobile-h5-font-style: normal;
  --headings-mobile-h5-font-weight: 600;
  --headings-mobile-h5-letter-spacing: 0px;
  --headings-mobile-h5-line-height: 24px;
  --hover-pad: rgba(0, 119, 182, 0.12);
  --icy-gray: rgba(242, 242, 245, 1);
  --selected-tab: ;
  --shadow-2: 0px 24px 36px 0px rgba(52, 87, 140, 0.12);
  --star: rgba(255, 139, 4, 1);
}
