:root {
  --bad-but-not-worst: rgba(255, 130, 39, 1);
  --body-link-4-font-family: "Manrope-Regular", Helvetica;
  --body-link-4-font-size: 16px;
  --body-link-4-font-style: normal;
  --body-link-4-font-weight: 400;
  --body-link-4-letter-spacing: 0px;
  --body-link-4-line-height: 24px;
  --body-regular-2-font-family: "Manrope-Regular", Helvetica;
  --body-regular-2-font-size: 20px;
  --body-regular-2-font-style: normal;
  --body-regular-2-font-weight: 400;
  --body-regular-2-letter-spacing: 0px;
  --body-regular-2-line-height: 28px;
  --body-regular-3-font-family: "Manrope-Medium", Helvetica;
  --body-regular-3-font-size: 18px;
  --body-regular-3-font-style: normal;
  --body-regular-3-font-weight: 500;
  --body-regular-3-letter-spacing: 0px;
  --body-regular-3-line-height: 26px;
  --body-regular-4-font-family: "Manrope-Medium", Helvetica;
  --body-regular-4-font-size: 16px;
  --body-regular-4-font-style: normal;
  --body-regular-4-font-weight: 500;
  --body-regular-4-letter-spacing: 0px;
  --body-regular-4-line-height: 24px;
  --body-regular-5-font-family: "Manrope-Medium", Helvetica;
  --body-regular-5-font-size: 14px;
  --body-regular-5-font-style: normal;
  --body-regular-5-font-weight: 500;
  --body-regular-5-letter-spacing: 0px;
  --body-regular-5-line-height: 22px;
  --body-semibold-1-font-family: "Manrope-SemiBold", Helvetica;
  --body-semibold-1-font-size: 22px;
  --body-semibold-1-font-style: normal;
  --body-semibold-1-font-weight: 600;
  --body-semibold-1-letter-spacing: 0px;
  --body-semibold-1-line-height: 30px;
  --body-semibold-3-font-family: "Manrope-SemiBold", Helvetica;
  --body-semibold-3-font-size: 18px;
  --body-semibold-3-font-style: normal;
  --body-semibold-3-font-weight: 600;
  --body-semibold-3-letter-spacing: 0px;
  --body-semibold-3-line-height: 26px;
  --body-semibold-4-font-family: "Manrope-SemiBold", Helvetica;
  --body-semibold-4-font-size: 16px;
  --body-semibold-4-font-style: normal;
  --body-semibold-4-font-weight: 600;
  --body-semibold-4-letter-spacing: 0px;
  --body-semibold-4-line-height: 24px;
  --body-semibold-5-font-family: "Manrope-SemiBold", Helvetica;
  --body-semibold-5-font-size: 14px;
  --body-semibold-5-font-style: normal;
  --body-semibold-5-font-weight: 600;
  --body-semibold-5-letter-spacing: 0px;
  --body-semibold-5-line-height: 22px;
  --body-semibold-6-font-family: "Manrope-SemiBold", Helvetica;
  --body-semibold-6-font-size: 12px;
  --body-semibold-6-font-style: normal;
  --body-semibold-6-font-weight: 600;
  --body-semibold-6-letter-spacing: 0px;
  --body-semibold-6-line-height: 20px;
  --colorsaccentdanger: rgba(245, 44, 29, 1);
  --colorsaccentsuccess: rgba(23, 229, 161, 1);
  --colorsaccentwarning: rgba(255, 180, 31, 1);
  --colorsgreyscale-100: rgba(255, 255, 255, 1);
  --colorsgreyscale-400: rgba(171, 171, 181, 1);
  --colorsgreyscale-500: rgba(105, 105, 107, 1);
  --colorsgreyscale-600: rgba(17, 17, 17, 1);
  --headings-desktop-h4-font-family: "Manrope-SemiBold", Helvetica;
  --headings-desktop-h4-font-size: 26px;
  --headings-desktop-h4-font-style: normal;
  --headings-desktop-h4-font-weight: 600;
  --headings-desktop-h4-letter-spacing: 0px;
  --headings-desktop-h4-line-height: 34px;
  --headings-mobile-h5-font-family: "Manrope-SemiBold", Helvetica;
  --headings-mobile-h5-font-size: 16px;
  --headings-mobile-h5-font-style: normal;
  --headings-mobile-h5-font-weight: 600;
  --headings-mobile-h5-letter-spacing: 0px;
  --headings-mobile-h5-line-height: 24px;
  --hover-pad: rgba(0, 119, 182, 0.12);
  --icy-gray: rgba(242, 242, 245, 1);
  --selected-tab: ;
  --shadow-5: 0px 4px 8px 0px rgba(52, 87, 140, 0.12);
  --star: rgba(255, 139, 4, 1);
}
