.added-to-cart {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.added-to-cart .div {
  background-color: #ffffff;
  height: 600px;
  position: relative;
  width: 400px;
}

.added-to-cart .vector {
  height: 193px;
  left: 93px;
  position: absolute;
  top: 107px;
  width: 212px;
}

.added-to-cart .text-wrapper {
  color: var(--colorsgreyscale-600);
  font-family: var(--headings-desktop-h4-font-family);
  font-size: var(--headings-desktop-h4-font-size);
  font-style: var(--headings-desktop-h4-font-style);
  font-weight: var(--headings-desktop-h4-font-weight);
  left: 109px;
  letter-spacing: var(--headings-desktop-h4-letter-spacing);
  line-height: var(--headings-desktop-h4-line-height);
  position: absolute;
  top: 363px;
  white-space: nowrap;
  width: 181px;
}

.added-to-cart .buttons-instance {
  left: 68px !important;
  position: absolute !important;
  top: 419px !important;
}

.added-to-cart .text-wrapper-2 {
  color: var(--colorsgreyscale-600);
  font-family: var(--body-link-4-font-family);
  font-size: var(--body-link-4-font-size);
  font-style: var(--body-link-4-font-style);
  font-weight: var(--body-link-4-font-weight);
  left: 123px;
  letter-spacing: var(--body-link-4-letter-spacing);
  line-height: var(--body-link-4-line-height);
  position: absolute;
  text-decoration: underline;
  top: 478px;
  white-space: nowrap;
}

.added-to-cart .exit {
  height: 28px !important;
  left: 348px !important;
  position: absolute !important;
  top: 24px !important;
  width: 28px !important;
}
