.homepage-sub {
  background-color: var(--colorsgreyscale-100);
  border-radius: 8px;
  height: 181px;
  overflow: hidden;
  position: relative;
  width: 181px;
}

.homepage-sub .group-5 {
  position: absolute;
}

.homepage-sub .text-wrapper-15 {
  color: var(--colorsgreyscale-600);
  font-family: var(--body-semibold-4-font-family);
  font-size: var(--body-semibold-4-font-size);
  font-style: var(--body-semibold-4-font-style);
  font-weight: var(--body-semibold-4-font-weight);
  height: 48px;
  left: 0;
  letter-spacing: var(--body-semibold-4-letter-spacing);
  line-height: var(--body-semibold-4-line-height);
  position: absolute;
  text-align: center;
  top: 0;
  width: 105px;
}

.homepage-sub .buttons-3 {
  border-radius: 16px !important;
  display: flex !important;
  gap: 4px !important;
  height: 24px !important;
  left: 0 !important;
  padding: 8px !important;
  position: absolute !important;
  top: 50px !important;
  width: 105px !important;
}

.homepage-sub .buttons-4 {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(0, 180, 216) 0%, rgb(0, 119, 182) 100%);
  background-clip: text;
  color: transparent;
  font-family: var(--body-semibold-5-font-family);
  font-size: var(--body-semibold-5-font-size);
  font-style: var(--body-semibold-5-font-style);
  font-weight: var(--body-semibold-5-font-weight);
  letter-spacing: var(--body-semibold-5-letter-spacing);
  line-height: var(--body-semibold-5-line-height);
  margin-bottom: -5px;
  margin-top: -9px;
  text-align: center;
}




.homepage-sub .icons-21 {
  height: 24px !important;
  margin-bottom: -8px !important;
  margin-top: -8px !important;
  position: relative !important;
  width: 24px !important;
}

.homepage-sub .iphone {
  position: absolute;
}

.homepage-sub .pic-2 {
  position: absolute;
}

.homepage-sub .iphone-2 {
  height: 89px;
  left: 28px;
  position: absolute;
  top: 1px;
  width: 125px;
}

.homepage-sub .text-wrapper-16 {
  color: var(--colorsgreyscale-600);
  font-family: var(--body-semibold-4-font-family);
  font-size: var(--body-semibold-4-font-size);
  font-style: var(--body-semibold-4-font-style);
  font-weight: var(--body-semibold-4-font-weight);
  height: 24px;
  left: 0;
  letter-spacing: var(--body-semibold-4-letter-spacing);
  line-height: var(--body-semibold-4-line-height);
  position: absolute;
  text-align: center;
  top: 0;
  width: 105px;
}

.homepage-sub .buttons-5 {
  border-radius: 16px !important;
  display: flex !important;
  gap: 4px !important;
  height: 24px !important;
  left: 0 !important;
  padding: 8px !important;
  position: absolute !important;
  top: 26px !important;
  width: 105px !important;
}

.homepage-sub.variant-8 {
  border: 2px solid;
  border-color: transparent;
  border-image: radial-gradient(rgba(255, 255, 255, 0), rgba(52, 87.2, 140, 0.2)) 1;
  box-shadow: var(--shadow-3);
}

.homepage-sub.preowned-phone-1 {
  box-shadow: var(--shadow-5);
}

.homepage-sub.phone-accessory-1 {
  box-shadow: var(--shadow-5);
}

.homepage-sub.phone-accessory-2 {
  border: 2px solid;
  border-color: transparent;
  border-image: radial-gradient(rgba(255, 255, 255, 0), rgba(52, 87.2, 140, 0.2)) 1;
  box-shadow: var(--shadow-3);
}

.homepage-sub.mic-2 {
  border: 2px solid;
  border-color: transparent;
  border-image: radial-gradient(rgba(255, 255, 255, 0), rgba(52, 87.2, 140, 0.2)) 1;
  box-shadow: var(--shadow-3);
}

.homepage-sub.chargers-1 {
  box-shadow: var(--shadow-5);
}

.homepage-sub.keyboard-1 {
  box-shadow: var(--shadow-5);
}

.homepage-sub.cases-1 {
  box-shadow: var(--shadow-5);
}

.homepage-sub.storage-1 {
  box-shadow: var(--shadow-5);
}

.homepage-sub.keyboard-2 {
  border: 2px solid;
  border-color: transparent;
  border-image: radial-gradient(rgba(255, 255, 255, 0), rgba(52, 87.2, 140, 0.2)) 1;
  box-shadow: var(--shadow-3);
}

.homepage-sub.laptop-bag-1 {
  box-shadow: var(--shadow-5);
}

.homepage-sub.basic-phone-2 {
  border: 2px solid;
  border-color: transparent;
  border-image: radial-gradient(rgba(255, 255, 255, 0), rgba(52, 87.2, 140, 0.2)) 1;
  box-shadow: var(--shadow-3);
}

.homepage-sub.stand-2 {
  border: 2px solid;
  border-color: transparent;
  border-image: radial-gradient(rgba(255, 255, 255, 0), rgba(52, 87.2, 140, 0.2)) 1;
  box-shadow: var(--shadow-3);
}

.homepage-sub.stand-1 {
  box-shadow: var(--shadow-5);
}

.homepage-sub.watches-2 {
  border: 2px solid;
  border-color: transparent;
  border-image: radial-gradient(rgba(255, 255, 255, 0), rgba(52, 87.2, 140, 0.2)) 1;
  box-shadow: var(--shadow-3);
}

.homepage-sub.variant-6 {
  border: 2px solid;
  border-color: transparent;
  border-image: radial-gradient(rgba(255, 255, 255, 0), rgba(52, 87.2, 140, 0.2)) 1;
  box-shadow: var(--shadow-3);
}

.homepage-sub.chargers-2 {
  border: 2px solid;
  border-color: transparent;
  border-image: radial-gradient(rgba(255, 255, 255, 0), rgba(52, 87.2, 140, 0.2)) 1;
  box-shadow: var(--shadow-3);
}

.homepage-sub.earphone-1 {
  box-shadow: var(--shadow-5);
}

.homepage-sub.stylus-2 {
  border: 2px solid;
  border-color: transparent;
  border-image: radial-gradient(rgba(255, 255, 255, 0), rgba(52, 87.2, 140, 0.2)) 1;
  box-shadow: var(--shadow-3);
}

.homepage-sub.gaming-1 {
  box-shadow: var(--shadow-5);
}

.homepage-sub.no-animation {
  box-shadow: var(--shadow-5);
}

.homepage-sub.iphone-1 {
  box-shadow: var(--shadow-5);
}

.homepage-sub.styus-1 {
  box-shadow: var(--shadow-5);
}

.homepage-sub.basic-phone-1 {
  box-shadow: var(--shadow-5);
}

.homepage-sub.storage-2 {
  border: 2px solid;
  border-color: transparent;
  border-image: radial-gradient(rgba(255, 255, 255, 0), rgba(52, 87.2, 140, 0.2)) 1;
  box-shadow: var(--shadow-3);
}

.homepage-sub.watches-1 {
  box-shadow: var(--shadow-5);
}

.homepage-sub.android-phone-1 {
  box-shadow: var(--shadow-5);
}

.homepage-sub.speakers-1 {
  box-shadow: var(--shadow-5);
}

.homepage-sub.speakers-2 {
  border: 2px solid;
  border-color: transparent;
  border-image: radial-gradient(rgba(255, 255, 255, 0), rgba(52, 87.2, 140, 0.2)) 1;
  box-shadow: var(--shadow-3);
}

.homepage-sub.laptop-bag-2 {
  border: 2px solid;
  border-color: transparent;
  border-image: radial-gradient(rgba(255, 255, 255, 0), rgba(52, 87.2, 140, 0.2)) 1;
  box-shadow: var(--shadow-3);
}

.homepage-sub.pre-owned-phone-2 {
  border: 2px solid;
  border-color: transparent;
  border-image: radial-gradient(rgba(255, 255, 255, 0), rgba(52, 87.2, 140, 0.2)) 1;
  box-shadow: var(--shadow-3);
}

.homepage-sub.mic-1 {
  box-shadow: var(--shadow-5);
}

.homepage-sub.new-phone-1 {
  box-shadow: var(--shadow-5);
}

.homepage-sub.cases-2 {
  border: 2px solid;
  border-color: transparent;
  border-image: radial-gradient(rgba(255, 255, 255, 0), rgba(52, 87.2, 140, 0.2)) 1;
  box-shadow: var(--shadow-3);
}

.homepage-sub.androiid-phone-2 {
  border: 2px solid;
  border-color: transparent;
  border-image: radial-gradient(rgba(255, 255, 255, 0), rgba(52, 87.2, 140, 0.2)) 1;
  box-shadow: var(--shadow-3);
}

.homepage-sub.new-phone-2 {
  border: 2px solid;
  border-color: transparent;
  border-image: radial-gradient(rgba(255, 255, 255, 0), rgba(52, 87.2, 140, 0.2)) 1;
  box-shadow: var(--shadow-3);
}

.homepage-sub.gaming-2 {
  border: 2px solid;
  border-color: transparent;
  border-image: radial-gradient(rgba(255, 255, 255, 0), rgba(52, 87.2, 140, 0.2)) 1;
  box-shadow: var(--shadow-3);
}

.homepage-sub.iphones-2 {
  border: 2px solid;
  border-color: transparent;
  border-image: radial-gradient(rgba(255, 255, 255, 0), rgba(52, 87.2, 140, 0.2)) 1;
  box-shadow: var(--shadow-3);
}

.homepage-sub.earphone-2 {
  border: 2px solid;
  border-color: transparent;
  border-image: radial-gradient(rgba(255, 255, 255, 0), rgba(52, 87.2, 140, 0.2)) 1;
  box-shadow: var(--shadow-3);
}

.homepage-sub.variant-8 .group-5 {
  height: 74px;
  left: 38px;
  top: 99px;
  width: 105px;
}

.homepage-sub.preowned-phone-1 .group-5 {
  height: 52px;
  left: 32px;
  top: 110px;
  width: 120px;
}

.homepage-sub.phone-accessory-1 .group-5 {
  height: 52px;
  left: 32px;
  top: 110px;
  width: 120px;
}

.homepage-sub.phone-accessory-2 .group-5 {
  height: 52px;
  left: 32px;
  top: 110px;
  width: 120px;
}

.homepage-sub.mic-2 .group-5 {
  background-image: url(../../../static/img/iphone-1-48.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 90px;
  left: 0;
  top: 0;
  width: 181px;
}

.homepage-sub.chargers-1 .group-5 {
  height: 90px;
  left: 0;
  top: 0;
  width: 181px;
}

.homepage-sub.keyboard-1 .group-5 {
  height: 90px;
  left: 0;
  top: 0;
  width: 181px;
}

.homepage-sub.cases-1 .group-5 {
  height: 90px;
  left: 0;
  top: 0;
  width: 181px;
}

.homepage-sub.storage-1 .group-5 {
  background-image: url(../../../static/img/iphone-2-1.png);
  background-size: 100% 100%;
  height: 90px;
  left: 0;
  top: 0;
  width: 181px;
}

.homepage-sub.keyboard-2 .group-5 {
  background-image: url(../../../static/img/iphone-1-49.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 90px;
  left: 0;
  top: 0;
  width: 181px;
}

.homepage-sub.laptop-bag-1 .group-5 {
  height: 90px;
  left: 0;
  top: 0;
  width: 181px;
}

.homepage-sub.basic-phone-2 .group-5 {
  height: 52px;
  left: 32px;
  top: 110px;
  width: 120px;
}

.homepage-sub.stand-2 .group-5 {
  background-image: url(../../../static/img/iphone-1-42.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 90px;
  left: 0;
  top: 0;
  width: 181px;
}

.homepage-sub.stand-1 .group-5 {
  background-image: url(../../../static/img/iphone-1-40.png);
  background-size: 100% 100%;
  height: 90px;
  left: 0;
  top: 0;
  width: 181px;
}

.homepage-sub.watches-2 .group-5 {
  background-image: url(../../../static/img/iphone-1-39.png);
  background-size: 100% 100%;
  height: 90px;
  left: 0;
  top: 0;
  width: 181px;
}

.homepage-sub.variant-6 .group-5 {
  background-image: url(../../../static/img/iphone-1-17.png);
  background-size: 100% 100%;
  height: 90px;
  left: 0;
  top: 0;
  width: 181px;
}

.homepage-sub.chargers-2 .group-5 {
  background-image: url(../../../static/img/iphone-1-45.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 90px;
  left: 0;
  top: 0;
  width: 181px;
}

.homepage-sub.earphone-1 .group-5 {
  height: 52px;
  left: 32px;
  top: 110px;
  width: 120px;
}

.homepage-sub.stylus-2 .group-5 {
  background-image: url(../../../static/img/iphone-1-43.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 90px;
  left: 0;
  top: 0;
  width: 181px;
}

.homepage-sub.gaming-1 .group-5 {
  height: 52px;
  left: 32px;
  top: 110px;
  width: 120px;
}

.homepage-sub.no-animation .group-5 {
  height: 26px;
  left: 32px;
  top: 136px;
  width: 120px;
}

.homepage-sub.iphone-1 .group-5 {
  height: 26px;
  left: 32px;
  top: 136px;
  width: 120px;
}

.homepage-sub.styus-1 .group-5 {
  background-image: url(../../../static/img/iphone-1-41.png);
  background-size: 100% 100%;
  height: 90px;
  left: 0;
  top: 0;
  width: 181px;
}

.homepage-sub.basic-phone-1 .group-5 {
  height: 52px;
  left: 32px;
  top: 110px;
  width: 120px;
}

.homepage-sub.storage-2 .group-5 {
  background-image: url(../../../static/img/iphone-1-44.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 90px;
  left: 0;
  top: 0;
  width: 181px;
}

.homepage-sub.watches-1 .group-5 {
  height: 52px;
  left: 32px;
  top: 110px;
  width: 120px;
}

.homepage-sub.android-phone-1 .group-5 {
  height: 52px;
  left: 32px;
  top: 110px;
  width: 120px;
}

.homepage-sub.speakers-1 .group-5 {
  height: 90px;
  left: 0;
  top: 0;
  width: 181px;
}

.homepage-sub.speakers-2 .group-5 {
  background-image: url(../../../static/img/iphone-1-50.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 90px;
  left: 0;
  top: 0;
  width: 181px;
}

.homepage-sub.laptop-bag-2 .group-5 {
  height: 90px;
  left: 0;
  top: 0;
  width: 181px;
}

.homepage-sub.pre-owned-phone-2 .group-5 {
  height: 52px;
  left: 32px;
  top: 110px;
  width: 120px;
}

.homepage-sub.mic-1 .group-5 {
  height: 90px;
  left: 0;
  top: 0;
  width: 181px;
}

.homepage-sub.new-phone-1 .group-5 {
  height: 52px;
  left: 32px;
  top: 110px;
  width: 120px;
}

.homepage-sub.cases-2 .group-5 {
  background-image: url(../../../static/img/iphone-1-46.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 90px;
  left: 0;
  top: 0;
  width: 181px;
}

.homepage-sub.androiid-phone-2 .group-5 {
  height: 52px;
  left: 32px;
  top: 110px;
  width: 120px;
}

.homepage-sub.new-phone-2 .group-5 {
  height: 52px;
  left: 32px;
  top: 110px;
  width: 120px;
}

.homepage-sub.gaming-2 .group-5 {
  background-image: url(../../../static/img/iphone-1-51.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 90px;
  left: 0;
  top: 0;
  width: 181px;
}

.homepage-sub.iphones-2 .group-5 {
  height: 26px;
  left: 32px;
  top: 123px;
  width: 120px;
}

.homepage-sub.earphone-2 .group-5 {
  height: 52px;
  left: 32px;
  top: 110px;
  width: 120px;
}

.homepage-sub.variant-8 .smart-watches {
  color: var(--colorsgreyscale-600);
  height: 74px;
  position: relative;
  width: 107px;
}

.homepage-sub.preowned-phone-1 .smart-watches {
  color: var(--colorsgreyscale-600);
  font-family: var(--headings-desktop-h5-font-family);
  font-size: var(--headings-desktop-h5-font-size);
  font-style: var(--headings-desktop-h5-font-style);
  font-weight: var(--headings-desktop-h5-font-weight);
  height: 52px;
  left: 0;
  letter-spacing: var(--headings-desktop-h5-letter-spacing);
  line-height: var(--headings-desktop-h5-line-height);
  position: absolute;
  text-align: center;
  top: 0;
  width: 118px;
}

.homepage-sub.phone-accessory-1 .smart-watches {
  color: var(--colorsgreyscale-600);
  font-family: var(--headings-desktop-h5-font-family);
  font-size: var(--headings-desktop-h5-font-size);
  font-style: var(--headings-desktop-h5-font-style);
  font-weight: var(--headings-desktop-h5-font-weight);
  height: 52px;
  left: 0;
  letter-spacing: var(--headings-desktop-h5-letter-spacing);
  line-height: var(--headings-desktop-h5-line-height);
  position: absolute;
  text-align: center;
  top: 0;
  width: 118px;
}

.homepage-sub.phone-accessory-2 .smart-watches {
  color: var(--colorsgreyscale-600);
  font-family: var(--headings-desktop-h5-font-family);
  font-size: var(--headings-desktop-h5-font-size);
  font-style: var(--headings-desktop-h5-font-style);
  font-weight: var(--headings-desktop-h5-font-weight);
  height: 52px;
  left: 0;
  letter-spacing: var(--headings-desktop-h5-letter-spacing);
  line-height: var(--headings-desktop-h5-line-height);
  position: absolute;
  text-align: center;
  top: 0;
  width: 118px;
}

.homepage-sub.mic-2 .smart-watches {
  color: var(--colorsgreyscale-600);
  height: 52px;
  position: absolute;
  width: 118px;
}

.homepage-sub.chargers-1 .smart-watches {
  color: var(--colorsgreyscale-600);
  height: 52px;
  position: absolute;
  width: 118px;
}

.homepage-sub.keyboard-1 .smart-watches {
  color: var(--colorsgreyscale-600);
  height: 52px;
  position: absolute;
  width: 118px;
}

.homepage-sub.cases-1 .smart-watches {
  color: var(--colorsgreyscale-600);
  height: 52px;
  position: absolute;
  width: 118px;
}

.homepage-sub.storage-1 .smart-watches {
  color: var(--colorsgreyscale-600);
  height: 52px;
  position: absolute;
  width: 118px;
}

.homepage-sub.keyboard-2 .smart-watches {
  color: var(--colorsgreyscale-600);
  height: 52px;
  position: absolute;
  width: 118px;
}

.homepage-sub.laptop-bag-1 .smart-watches {
  color: var(--colorsgreyscale-600);
  height: 52px;
  position: absolute;
  width: 118px;
}

.homepage-sub.basic-phone-2 .smart-watches {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(0, 119, 182) 0%, rgb(3, 4, 94) 100%);
  background-clip: text;
  color: transparent;
  font-family: var(--headings-desktop-h5-font-family);
  font-size: var(--headings-desktop-h5-font-size);
  font-style: var(--headings-desktop-h5-font-style);
  font-weight: var(--headings-desktop-h5-font-weight);
  height: 52px;
  left: 0;
  letter-spacing: var(--headings-desktop-h5-letter-spacing);
  line-height: var(--headings-desktop-h5-line-height);
  position: absolute;
  text-align: center;
  text-fill-color: transparent;
  top: 0;
  width: 118px;
}

.homepage-sub.stand-2 .smart-watches {
  color: var(--colorsgreyscale-600);
  height: 52px;
  position: absolute;
  width: 118px;
}

.homepage-sub.stand-1 .smart-watches {
  color: var(--colorsgreyscale-600);
  height: 52px;
  position: absolute;
  width: 118px;
}

.homepage-sub.watches-2 .smart-watches {
  color: var(--colorsgreyscale-600);
  height: 52px;
  position: absolute;
  width: 118px;
}

.homepage-sub.variant-6 .smart-watches {
  color: var(--colorsgreyscale-600);
  height: 52px;
  position: absolute;
  width: 118px;
}

.homepage-sub.chargers-2 .smart-watches {
  color: var(--colorsgreyscale-600);
  height: 52px;
  position: absolute;
  width: 118px;
}

.homepage-sub.earphone-1 .smart-watches {
  color: var(--colorsgreyscale-600);
  font-family: var(--headings-desktop-h5-font-family);
  font-size: var(--headings-desktop-h5-font-size);
  font-style: var(--headings-desktop-h5-font-style);
  font-weight: var(--headings-desktop-h5-font-weight);
  height: 52px;
  left: 0;
  letter-spacing: var(--headings-desktop-h5-letter-spacing);
  line-height: var(--headings-desktop-h5-line-height);
  position: absolute;
  text-align: center;
  top: 0;
  width: 118px;
}

.homepage-sub.stylus-2 .smart-watches {
  color: var(--colorsgreyscale-600);
  height: 52px;
  position: absolute;
  width: 118px;
}

.homepage-sub.gaming-1 .smart-watches {
  color: var(--colorsgreyscale-600);
  font-family: var(--headings-desktop-h5-font-family);
  font-size: var(--headings-desktop-h5-font-size);
  font-style: var(--headings-desktop-h5-font-style);
  font-weight: var(--headings-desktop-h5-font-weight);
  height: 52px;
  left: 0;
  letter-spacing: var(--headings-desktop-h5-letter-spacing);
  line-height: var(--headings-desktop-h5-line-height);
  position: absolute;
  text-align: center;
  top: 0;
  width: 118px;
}

.homepage-sub.no-animation .smart-watches {
  color: var(--colorsgreyscale-600);
  font-family: var(--headings-desktop-h5-font-family);
  font-size: var(--headings-desktop-h5-font-size);
  font-style: var(--headings-desktop-h5-font-style);
  font-weight: var(--headings-desktop-h5-font-weight);
  height: 26px;
  left: 0;
  letter-spacing: var(--headings-desktop-h5-letter-spacing);
  line-height: var(--headings-desktop-h5-line-height);
  position: absolute;
  text-align: center;
  top: 0;
  width: 118px;
}

.homepage-sub.iphone-1 .smart-watches {
  color: var(--colorsgreyscale-600);
  font-family: var(--headings-desktop-h5-font-family);
  font-size: var(--headings-desktop-h5-font-size);
  font-style: var(--headings-desktop-h5-font-style);
  font-weight: var(--headings-desktop-h5-font-weight);
  height: 26px;
  left: 0;
  letter-spacing: var(--headings-desktop-h5-letter-spacing);
  line-height: var(--headings-desktop-h5-line-height);
  position: absolute;
  text-align: center;
  top: 0;
  width: 118px;
}

.homepage-sub.styus-1 .smart-watches {
  color: var(--colorsgreyscale-600);
  height: 52px;
  position: absolute;
  width: 118px;
}

.homepage-sub.basic-phone-1 .smart-watches {
  color: var(--colorsgreyscale-600);
  font-family: var(--headings-desktop-h5-font-family);
  font-size: var(--headings-desktop-h5-font-size);
  font-style: var(--headings-desktop-h5-font-style);
  font-weight: var(--headings-desktop-h5-font-weight);
  height: 52px;
  left: 0;
  letter-spacing: var(--headings-desktop-h5-letter-spacing);
  line-height: var(--headings-desktop-h5-line-height);
  position: absolute;
  text-align: center;
  top: 0;
  width: 118px;
}

.homepage-sub.storage-2 .smart-watches {
  color: var(--colorsgreyscale-600);
  height: 52px;
  position: absolute;
  width: 118px;
}

.homepage-sub.watches-1 .smart-watches {
  color: var(--colorsgreyscale-600);
  font-family: var(--headings-desktop-h5-font-family);
  font-size: var(--headings-desktop-h5-font-size);
  font-style: var(--headings-desktop-h5-font-style);
  font-weight: var(--headings-desktop-h5-font-weight);
  height: 52px;
  left: 0;
  letter-spacing: var(--headings-desktop-h5-letter-spacing);
  line-height: var(--headings-desktop-h5-line-height);
  position: absolute;
  text-align: center;
  top: 0;
  width: 118px;
}

.homepage-sub.android-phone-1 .smart-watches {
  color: var(--colorsgreyscale-600);
  font-family: var(--headings-desktop-h5-font-family);
  font-size: var(--headings-desktop-h5-font-size);
  font-style: var(--headings-desktop-h5-font-style);
  font-weight: var(--headings-desktop-h5-font-weight);
  height: 52px;
  left: 0;
  letter-spacing: var(--headings-desktop-h5-letter-spacing);
  line-height: var(--headings-desktop-h5-line-height);
  position: absolute;
  text-align: center;
  top: 0;
  width: 118px;
}

.homepage-sub.speakers-1 .smart-watches {
  color: var(--colorsgreyscale-600);
  height: 52px;
  position: absolute;
  width: 118px;
}

.homepage-sub.speakers-2 .smart-watches {
  color: var(--colorsgreyscale-600);
  height: 52px;
  position: absolute;
  width: 118px;
}

.homepage-sub.laptop-bag-2 .smart-watches {
  color: var(--colorsgreyscale-600);
  height: 52px;
  position: absolute;
  width: 118px;
}

.homepage-sub.pre-owned-phone-2 .smart-watches {
  color: var(--colorsgreyscale-600);
  font-family: var(--headings-desktop-h5-font-family);
  font-size: var(--headings-desktop-h5-font-size);
  font-style: var(--headings-desktop-h5-font-style);
  font-weight: var(--headings-desktop-h5-font-weight);
  height: 52px;
  left: 0;
  letter-spacing: var(--headings-desktop-h5-letter-spacing);
  line-height: var(--headings-desktop-h5-line-height);
  position: absolute;
  text-align: center;
  top: 0;
  width: 118px;
}

.homepage-sub.mic-1 .smart-watches {
  color: var(--colorsgreyscale-600);
  height: 52px;
  position: absolute;
  width: 118px;
}

.homepage-sub.new-phone-1 .smart-watches {
  color: var(--colorsgreyscale-600);
  font-family: var(--headings-desktop-h5-font-family);
  font-size: var(--headings-desktop-h5-font-size);
  font-style: var(--headings-desktop-h5-font-style);
  font-weight: var(--headings-desktop-h5-font-weight);
  height: 52px;
  left: 0;
  letter-spacing: var(--headings-desktop-h5-letter-spacing);
  line-height: var(--headings-desktop-h5-line-height);
  position: absolute;
  text-align: center;
  top: 0;
  width: 118px;
}

.homepage-sub.cases-2 .smart-watches {
  color: var(--colorsgreyscale-600);
  height: 52px;
  position: absolute;
  width: 118px;
}

.homepage-sub.androiid-phone-2 .smart-watches {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(0, 119, 182) 0%, rgb(3, 4, 94) 100%);
  background-clip: text;
  color: transparent;
  font-family: var(--headings-desktop-h5-font-family);
  font-size: var(--headings-desktop-h5-font-size);
  font-style: var(--headings-desktop-h5-font-style);
  font-weight: var(--headings-desktop-h5-font-weight);
  height: 52px;
  left: 0;
  letter-spacing: var(--headings-desktop-h5-letter-spacing);
  line-height: var(--headings-desktop-h5-line-height);
  position: absolute;
  text-align: center;
  text-fill-color: transparent;
  top: 0;
  width: 118px;
}

.homepage-sub.new-phone-2 .smart-watches {
  color: var(--colorsgreyscale-600);
  font-family: var(--headings-desktop-h5-font-family);
  font-size: var(--headings-desktop-h5-font-size);
  font-style: var(--headings-desktop-h5-font-style);
  font-weight: var(--headings-desktop-h5-font-weight);
  height: 52px;
  left: 0;
  letter-spacing: var(--headings-desktop-h5-letter-spacing);
  line-height: var(--headings-desktop-h5-line-height);
  position: absolute;
  text-align: center;
  top: 0;
  width: 118px;
}

.homepage-sub.gaming-2 .smart-watches {
  color: var(--colorsgreyscale-600);
  height: 52px;
  position: absolute;
  width: 118px;
}

.homepage-sub.iphones-2 .smart-watches {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(0, 119, 182) 0%, rgb(3, 4, 94) 100%);
  background-clip: text;
  color: transparent;
  font-family: var(--headings-desktop-h5-font-family);
  font-size: var(--headings-desktop-h5-font-size);
  font-style: var(--headings-desktop-h5-font-style);
  font-weight: var(--headings-desktop-h5-font-weight);
  height: 26px;
  left: 0;
  letter-spacing: var(--headings-desktop-h5-letter-spacing);
  line-height: var(--headings-desktop-h5-line-height);
  position: absolute;
  text-align: center;
  text-fill-color: transparent;
  top: 0;
  width: 118px;
}

.homepage-sub.earphone-2 .smart-watches {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(0, 119, 182) 0%, rgb(3, 4, 94) 100%);
  background-clip: text;
  color: transparent;
  font-family: var(--headings-desktop-h5-font-family);
  font-size: var(--headings-desktop-h5-font-size);
  font-style: var(--headings-desktop-h5-font-style);
  font-weight: var(--headings-desktop-h5-font-weight);
  height: 52px;
  left: 0;
  letter-spacing: var(--headings-desktop-h5-letter-spacing);
  line-height: var(--headings-desktop-h5-line-height);
  position: absolute;
  text-align: center;
  text-fill-color: transparent;
  top: 0;
  width: 118px;
}

.homepage-sub.variant-8 .iphone {
  height: 89px;
  left: 28px;
  top: 1px;
  width: 125px;
}

.homepage-sub.preowned-phone-1 .iphone {
  height: 89px;
  left: 28px;
  top: 1px;
  width: 125px;
}

.homepage-sub.phone-accessory-1 .iphone {
  height: 89px;
  left: 28px;
  top: 1px;
  width: 125px;
}

.homepage-sub.phone-accessory-2 .iphone {
  height: 89px;
  left: 28px;
  top: 1px;
  width: 125px;
}

.homepage-sub.mic-2 .iphone {
  height: 89px;
  left: 28px;
  top: 1px;
  width: 125px;
}

.homepage-sub.chargers-1 .iphone {
  height: 89px;
  left: 28px;
  top: 1px;
  width: 125px;
}

.homepage-sub.keyboard-1 .iphone {
  height: 89px;
  left: 28px;
  top: 1px;
  width: 125px;
}

.homepage-sub.cases-1 .iphone {
  height: 89px;
  left: 28px;
  top: 1px;
  width: 125px;
}

.homepage-sub.storage-1 .iphone {
  height: 89px;
  left: 28px;
  top: 1px;
  width: 125px;
}

.homepage-sub.keyboard-2 .iphone {
  height: 89px;
  left: 28px;
  top: 1px;
  width: 125px;
}

.homepage-sub.laptop-bag-1 .iphone {
  height: 89px;
  left: 28px;
  top: 1px;
  width: 125px;
}

.homepage-sub.basic-phone-2 .iphone {
  height: 89px;
  left: 28px;
  top: 1px;
  width: 125px;
}

.homepage-sub.stand-2 .iphone {
  height: 89px;
  left: 28px;
  top: 1px;
  width: 125px;
}

.homepage-sub.stand-1 .iphone {
  height: 89px;
  left: 28px;
  top: 1px;
  width: 125px;
}

.homepage-sub.watches-2 .iphone {
  height: 89px;
  left: 28px;
  top: 1px;
  width: 125px;
}

.homepage-sub.variant-6 .iphone {
  height: 89px;
  left: 28px;
  top: 1px;
  width: 125px;
}

.homepage-sub.chargers-2 .iphone {
  height: 89px;
  left: 28px;
  top: 1px;
  width: 125px;
}

.homepage-sub.earphone-1 .iphone {
  height: 89px;
  left: 28px;
  top: 1px;
  width: 125px;
}

.homepage-sub.stylus-2 .iphone {
  height: 89px;
  left: 28px;
  top: 1px;
  width: 125px;
}

.homepage-sub.gaming-1 .iphone {
  height: 89px;
  left: 28px;
  top: 1px;
  width: 125px;
}

.homepage-sub.no-animation .iphone {
  height: 89px;
  left: 28px;
  top: 1px;
  width: 125px;
}

.homepage-sub.iphone-1 .iphone {
  height: 89px;
  left: 28px;
  top: 1px;
  width: 125px;
}

.homepage-sub.styus-1 .iphone {
  height: 89px;
  left: 28px;
  top: 1px;
  width: 125px;
}

.homepage-sub.basic-phone-1 .iphone {
  height: 89px;
  left: 28px;
  top: 1px;
  width: 125px;
}

.homepage-sub.storage-2 .iphone {
  height: 89px;
  left: 28px;
  top: 1px;
  width: 125px;
}

.homepage-sub.watches-1 .iphone {
  height: 89px;
  left: 28px;
  top: 1px;
  width: 125px;
}

.homepage-sub.android-phone-1 .iphone {
  height: 89px;
  left: 28px;
  top: 1px;
  width: 125px;
}

.homepage-sub.speakers-1 .iphone {
  height: 89px;
  left: 28px;
  top: 1px;
  width: 125px;
}

.homepage-sub.speakers-2 .iphone {
  height: 89px;
  left: 28px;
  top: 1px;
  width: 125px;
}

.homepage-sub.laptop-bag-2 .iphone {
  height: 90px;
  left: 0;
  object-fit: cover;
  top: 0;
  width: 156px;
}

.homepage-sub.pre-owned-phone-2 .iphone {
  height: 89px;
  left: 28px;
  top: 1px;
  width: 125px;
}

.homepage-sub.mic-1 .iphone {
  height: 89px;
  left: 28px;
  top: 1px;
  width: 125px;
}

.homepage-sub.new-phone-1 .iphone {
  height: 89px;
  left: 28px;
  top: 1px;
  width: 125px;
}

.homepage-sub.cases-2 .iphone {
  height: 89px;
  left: 28px;
  top: 1px;
  width: 125px;
}

.homepage-sub.androiid-phone-2 .iphone {
  height: 89px;
  left: 28px;
  top: 1px;
  width: 125px;
}

.homepage-sub.new-phone-2 .iphone {
  height: 89px;
  left: 28px;
  top: 1px;
  width: 125px;
}

.homepage-sub.gaming-2 .iphone {
  height: 89px;
  left: 28px;
  top: 1px;
  width: 125px;
}

.homepage-sub.iphones-2 .iphone {
  height: 89px;
  left: 28px;
  top: 1px;
  width: 125px;
}

.homepage-sub.earphone-2 .iphone {
  height: 89px;
  left: 28px;
  top: 1px;
  width: 125px;
}

.homepage-sub.variant-8 .pic-2 {
  background-image: url(../../../static/img/iphone-1-39.png);
  background-size: 100% 100%;
  height: 90px;
  left: 0;
  top: 0;
  width: 181px;
}

.homepage-sub.preowned-phone-1 .pic-2 {
  height: 90px;
  left: 0;
  top: 0;
  width: 181px;
}

.homepage-sub.phone-accessory-1 .pic-2 {
  height: 90px;
  left: 0;
  top: 0;
  width: 181px;
}

.homepage-sub.phone-accessory-2 .pic-2 {
  background-image: url(../../../static/img/iphone-1-18.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 90px;
  left: 0;
  top: 0;
  width: 181px;
}

.homepage-sub.mic-2 .pic-2 {
  height: 26px;
  left: 32px;
  top: 123px;
  width: 120px;
}

.homepage-sub.chargers-1 .pic-2 {
  height: 52px;
  left: 32px;
  top: 110px;
  width: 120px;
}

.homepage-sub.keyboard-1 .pic-2 {
  height: 52px;
  left: 32px;
  top: 114px;
  width: 120px;
}

.homepage-sub.cases-1 .pic-2 {
  height: 52px;
  left: 32px;
  top: 110px;
  width: 120px;
}

.homepage-sub.storage-1 .pic-2 {
  height: 26px;
  left: 32px;
  top: 123px;
  width: 120px;
}

.homepage-sub.keyboard-2 .pic-2 {
  height: 52px;
  left: 32px;
  top: 110px;
  width: 120px;
}

.homepage-sub.laptop-bag-1 .pic-2 {
  height: 26px;
  left: 38px;
  top: 120px;
  width: 108px;
}

.homepage-sub.basic-phone-2 .pic-2 {
  background-image: url(../../../static/img/iphone-1-21.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 90px;
  left: 0;
  top: 0;
  width: 181px;
}

.homepage-sub.stand-2 .pic-2 {
  height: 52px;
  left: 32px;
  top: 110px;
  width: 120px;
}

.homepage-sub.stand-1 .pic-2 {
  height: 52px;
  left: 32px;
  top: 110px;
  width: 120px;
}

.homepage-sub.watches-2 .pic-2 {
  height: 52px;
  left: 32px;
  top: 110px;
  width: 120px;
}

.homepage-sub.variant-6 .pic-2 {
  height: 50px;
  left: 38px;
  top: 123px;
  width: 105px;
}

.homepage-sub.chargers-2 .pic-2 {
  height: 52px;
  left: 32px;
  top: 110px;
  width: 120px;
}

.homepage-sub.earphone-1 .pic-2 {
  height: 90px;
  left: 0;
  top: 0;
  width: 181px;
}

.homepage-sub.stylus-2 .pic-2 {
  height: 52px;
  left: 32px;
  top: 110px;
  width: 120px;
}

.homepage-sub.gaming-1 .pic-2 {
  height: 90px;
  left: 0;
  top: 0;
  width: 181px;
}

.homepage-sub.no-animation .pic-2 {
  height: 90px;
  left: 0;
  top: 0;
  width: 181px;
}

.homepage-sub.iphone-1 .pic-2 {
  height: 90px;
  left: 0;
  top: 0;
  width: 181px;
}

.homepage-sub.styus-1 .pic-2 {
  height: 52px;
  left: 32px;
  top: 110px;
  width: 120px;
}

.homepage-sub.basic-phone-1 .pic-2 {
  height: 90px;
  left: 0;
  top: 0;
  width: 181px;
}

.homepage-sub.storage-2 .pic-2 {
  height: 26px;
  left: 32px;
  top: 123px;
  width: 120px;
}

.homepage-sub.watches-1 .pic-2 {
  height: 90px;
  left: 0;
  top: 0;
  width: 181px;
}

.homepage-sub.android-phone-1 .pic-2 {
  height: 90px;
  left: 0;
  top: 0;
  width: 181px;
}

.homepage-sub.speakers-1 .pic-2 {
  height: 26px;
  left: 51px;
  top: 120px;
  width: 82px;
}

.homepage-sub.speakers-2 .pic-2 {
  height: 26px;
  left: 32px;
  top: 123px;
  width: 120px;
}

.homepage-sub.laptop-bag-2 .pic-2 {
  height: 26px;
  left: 32px;
  top: 123px;
  width: 120px;
}

.homepage-sub.pre-owned-phone-2 .pic-2 {
  background-image: url(../../../static/img/iphone-1-19.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 90px;
  left: 0;
  top: 0;
  width: 181px;
}

.homepage-sub.mic-1 .pic-2 {
  height: 26px;
  left: 35px;
  top: 120px;
  width: 115px;
}

.homepage-sub.new-phone-1 .pic-2 {
  height: 90px;
  left: 0;
  top: 0;
  width: 181px;
}

.homepage-sub.cases-2 .pic-2 {
  height: 52px;
  left: 32px;
  top: 110px;
  width: 120px;
}

.homepage-sub.androiid-phone-2 .pic-2 {
  background-image: url(../../../static/img/iphone-1-22.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 90px;
  left: 0;
  top: 0;
  width: 181px;
}

.homepage-sub.new-phone-2 .pic-2 {
  background-image: url(../../../static/img/iphone-1-20.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 90px;
  left: 0;
  top: 0;
  width: 181px;
}

.homepage-sub.gaming-2 .pic-2 {
  height: 52px;
  left: 32px;
  top: 110px;
  width: 120px;
}

.homepage-sub.iphones-2 .pic-2 {
  background-image: url(../../../static/img/iphone-1-23.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 90px;
  left: 0;
  top: 0;
  width: 181px;
}

.homepage-sub.earphone-2 .pic-2 {
  background-image: url(../../../static/img/iphone-1-21.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 90px;
  left: 0;
  top: 0;
  width: 181px;
}

.homepage-sub.variant-8 .smart-watches {
  color: transparent;
  height: 52px;
  position: absolute;
}

.homepage-sub.preowned-phone-1 .smart-watches {
  color: transparent;
  height: 52px;
  position: absolute;
}

.homepage-sub.phone-accessory-1 .smart-watches {
  color: transparent;
  height: 52px;
  position: absolute;
}

.homepage-sub.phone-accessory-2 .smart-watches {
  color: transparent;
  height: 52px;
  position: absolute;
}

.homepage-sub.mic-2 .smart-watches {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(0, 119, 182) 0%, rgb(3, 4, 94) 100%);
  background-clip: text;
  color: transparent;
  font-family: var(--headings-desktop-h5-font-family);
  font-size: var(--headings-desktop-h5-font-size);
  font-style: var(--headings-desktop-h5-font-style);
  font-weight: var(--headings-desktop-h5-font-weight);
  height: 26px;
  left: 0;
  letter-spacing: var(--headings-desktop-h5-letter-spacing);
  line-height: var(--headings-desktop-h5-line-height);
  position: absolute;
  text-align: center;
  text-fill-color: transparent;
  top: 0;
  width: 118px;
}

.homepage-sub.chargers-1 .smart-watches {
  color: var(--colorsgreyscale-600);
  font-family: var(--headings-desktop-h5-font-family);
  font-size: var(--headings-desktop-h5-font-size);
  font-style: var(--headings-desktop-h5-font-style);
  font-weight: var(--headings-desktop-h5-font-weight);
  height: 52px;
  left: 0;
  letter-spacing: var(--headings-desktop-h5-letter-spacing);
  line-height: var(--headings-desktop-h5-line-height);
  position: absolute;
  text-align: center;
  top: 0;
  width: 118px;
}

.homepage-sub.keyboard-1 .smart-watches {
  color: var(--colorsgreyscale-600);
  font-family: var(--headings-desktop-h5-font-family);
  font-size: var(--headings-desktop-h5-font-size);
  font-style: var(--headings-desktop-h5-font-style);
  font-weight: var(--headings-desktop-h5-font-weight);
  height: 52px;
  left: 0;
  letter-spacing: var(--headings-desktop-h5-letter-spacing);
  line-height: var(--headings-desktop-h5-line-height);
  position: absolute;
  text-align: center;
  top: 0;
  width: 118px;
}

.homepage-sub.cases-1 .smart-watches {
  color: var(--colorsgreyscale-600);
  font-family: var(--headings-desktop-h5-font-family);
  font-size: var(--headings-desktop-h5-font-size);
  font-style: var(--headings-desktop-h5-font-style);
  font-weight: var(--headings-desktop-h5-font-weight);
  height: 52px;
  left: 0;
  letter-spacing: var(--headings-desktop-h5-letter-spacing);
  line-height: var(--headings-desktop-h5-line-height);
  position: absolute;
  text-align: center;
  top: 0;
  width: 118px;
}

.homepage-sub.storage-1 .smart-watches {
  color: var(--colorsgreyscale-600);
  font-family: var(--headings-desktop-h5-font-family);
  font-size: var(--headings-desktop-h5-font-size);
  font-style: var(--headings-desktop-h5-font-style);
  font-weight: var(--headings-desktop-h5-font-weight);
  height: 26px;
  left: 0;
  letter-spacing: var(--headings-desktop-h5-letter-spacing);
  line-height: var(--headings-desktop-h5-line-height);
  position: absolute;
  text-align: center;
  top: 0;
  width: 118px;
}

.homepage-sub.keyboard-2 .smart-watches {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(0, 119, 182) 0%, rgb(3, 4, 94) 100%);
  background-clip: text;
  color: transparent;
  font-family: var(--headings-desktop-h5-font-family);
  font-size: var(--headings-desktop-h5-font-size);
  font-style: var(--headings-desktop-h5-font-style);
  font-weight: var(--headings-desktop-h5-font-weight);
  height: 52px;
  left: 0;
  letter-spacing: var(--headings-desktop-h5-letter-spacing);
  line-height: var(--headings-desktop-h5-line-height);
  position: absolute;
  text-align: center;
  text-fill-color: transparent;
  top: 0;
  width: 118px;
}

.homepage-sub.laptop-bag-1 .smart-watches {
  color: var(--colorsgreyscale-600);
  font-family: var(--headings-desktop-h5-font-family);
  font-size: var(--headings-desktop-h5-font-size);
  font-style: var(--headings-desktop-h5-font-style);
  font-weight: var(--headings-desktop-h5-font-weight);
  height: 26px;
  left: 0;
  letter-spacing: var(--headings-desktop-h5-letter-spacing);
  line-height: var(--headings-desktop-h5-line-height);
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.homepage-sub.basic-phone-2 .smart-watches {
  color: transparent;
  height: 52px;
  position: absolute;
}

.homepage-sub.stand-2 .smart-watches {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(0, 119, 182) 0%, rgb(3, 4, 94) 100%);
  background-clip: text;
  color: transparent;
  font-family: var(--headings-desktop-h5-font-family);
  font-size: var(--headings-desktop-h5-font-size);
  font-style: var(--headings-desktop-h5-font-style);
  font-weight: var(--headings-desktop-h5-font-weight);
  height: 52px;
  left: 0;
  letter-spacing: var(--headings-desktop-h5-letter-spacing);
  line-height: var(--headings-desktop-h5-line-height);
  position: absolute;
  text-align: center;
  text-fill-color: transparent;
  top: 0;
  width: 118px;
}

.homepage-sub.stand-1 .smart-watches {
  color: var(--colorsgreyscale-600);
  font-family: var(--headings-desktop-h5-font-family);
  font-size: var(--headings-desktop-h5-font-size);
  font-style: var(--headings-desktop-h5-font-style);
  font-weight: var(--headings-desktop-h5-font-weight);
  height: 52px;
  left: 0;
  letter-spacing: var(--headings-desktop-h5-letter-spacing);
  line-height: var(--headings-desktop-h5-line-height);
  position: absolute;
  text-align: center;
  top: 0;
  width: 118px;
}

.homepage-sub.watches-2 .smart-watches {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(0, 119, 182) 0%, rgb(3, 4, 94) 100%);
  background-clip: text;
  color: transparent;
  font-family: var(--headings-desktop-h5-font-family);
  font-size: var(--headings-desktop-h5-font-size);
  font-style: var(--headings-desktop-h5-font-style);
  font-weight: var(--headings-desktop-h5-font-weight);
  height: 52px;
  left: 0;
  letter-spacing: var(--headings-desktop-h5-letter-spacing);
  line-height: var(--headings-desktop-h5-line-height);
  position: absolute;
  text-align: center;
  text-fill-color: transparent;
  top: 0;
  width: 118px;
}

.homepage-sub.variant-6 .smart-watches {
  color: transparent;
  height: 50px;
  position: relative;
  width: 107px;
}

.homepage-sub.chargers-2 .smart-watches {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(0, 119, 182) 0%, rgb(3, 4, 94) 100%);
  background-clip: text;
  color: transparent;
  font-family: var(--headings-desktop-h5-font-family);
  font-size: var(--headings-desktop-h5-font-size);
  font-style: var(--headings-desktop-h5-font-style);
  font-weight: var(--headings-desktop-h5-font-weight);
  height: 52px;
  left: 0;
  letter-spacing: var(--headings-desktop-h5-letter-spacing);
  line-height: var(--headings-desktop-h5-line-height);
  position: absolute;
  text-align: center;
  text-fill-color: transparent;
  top: 0;
  width: 118px;
}

.homepage-sub.earphone-1 .smart-watches {
  color: transparent;
  height: 52px;
  position: absolute;
}

.homepage-sub.stylus-2 .smart-watches {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(0, 119, 182) 0%, rgb(3, 4, 94) 100%);
  background-clip: text;
  color: transparent;
  font-family: var(--headings-desktop-h5-font-family);
  font-size: var(--headings-desktop-h5-font-size);
  font-style: var(--headings-desktop-h5-font-style);
  font-weight: var(--headings-desktop-h5-font-weight);
  height: 52px;
  left: 0;
  letter-spacing: var(--headings-desktop-h5-letter-spacing);
  line-height: var(--headings-desktop-h5-line-height);
  position: absolute;
  text-align: center;
  text-fill-color: transparent;
  top: 0;
  width: 118px;
}

.homepage-sub.gaming-1 .smart-watches {
  color: transparent;
  height: 52px;
  position: absolute;
}

.homepage-sub.no-animation .smart-watches {
  color: transparent;
  height: 52px;
  position: absolute;
}

.homepage-sub.iphone-1 .smart-watches {
  color: transparent;
  height: 52px;
  position: absolute;
}

.homepage-sub.styus-1 .smart-watches {
  color: var(--colorsgreyscale-600);
  font-family: var(--headings-desktop-h5-font-family);
  font-size: var(--headings-desktop-h5-font-size);
  font-style: var(--headings-desktop-h5-font-style);
  font-weight: var(--headings-desktop-h5-font-weight);
  height: 52px;
  left: 0;
  letter-spacing: var(--headings-desktop-h5-letter-spacing);
  line-height: var(--headings-desktop-h5-line-height);
  position: absolute;
  text-align: center;
  top: 0;
  width: 118px;
}

.homepage-sub.basic-phone-1 .smart-watches {
  color: transparent;
  height: 52px;
  position: absolute;
}

.homepage-sub.storage-2 .smart-watches {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(0, 119, 182) 0%, rgb(3, 4, 94) 100%);
  background-clip: text;
  color: transparent;
  font-family: var(--headings-desktop-h5-font-family);
  font-size: var(--headings-desktop-h5-font-size);
  font-style: var(--headings-desktop-h5-font-style);
  font-weight: var(--headings-desktop-h5-font-weight);
  height: 26px;
  left: 0;
  letter-spacing: var(--headings-desktop-h5-letter-spacing);
  line-height: var(--headings-desktop-h5-line-height);
  position: absolute;
  text-align: center;
  text-fill-color: transparent;
  top: 0;
  width: 118px;
}

.homepage-sub.watches-1 .smart-watches {
  color: transparent;
  height: 52px;
  position: absolute;
}

.homepage-sub.android-phone-1 .smart-watches {
  color: transparent;
  height: 52px;
  position: absolute;
}

.homepage-sub.speakers-1 .smart-watches {
  color: var(--colorsgreyscale-600);
  font-family: var(--headings-desktop-h5-font-family);
  font-size: var(--headings-desktop-h5-font-size);
  font-style: var(--headings-desktop-h5-font-style);
  font-weight: var(--headings-desktop-h5-font-weight);
  height: 26px;
  left: 0;
  letter-spacing: var(--headings-desktop-h5-letter-spacing);
  line-height: var(--headings-desktop-h5-line-height);
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.homepage-sub.speakers-2 .smart-watches {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(0, 119, 182) 0%, rgb(3, 4, 94) 100%);
  background-clip: text;
  color: transparent;
  font-family: var(--headings-desktop-h5-font-family);
  font-size: var(--headings-desktop-h5-font-size);
  font-style: var(--headings-desktop-h5-font-style);
  font-weight: var(--headings-desktop-h5-font-weight);
  height: 26px;
  left: 0;
  letter-spacing: var(--headings-desktop-h5-letter-spacing);
  line-height: var(--headings-desktop-h5-line-height);
  position: absolute;
  text-align: center;
  text-fill-color: transparent;
  top: 0;
  width: 118px;
}

.homepage-sub.laptop-bag-2 .smart-watches {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(0, 119, 182) 0%, rgb(3, 4, 94) 100%);
  background-clip: text;
  color: transparent;
  font-family: var(--headings-desktop-h5-font-family);
  font-size: var(--headings-desktop-h5-font-size);
  font-style: var(--headings-desktop-h5-font-style);
  font-weight: var(--headings-desktop-h5-font-weight);
  height: 26px;
  left: 0;
  letter-spacing: var(--headings-desktop-h5-letter-spacing);
  line-height: var(--headings-desktop-h5-line-height);
  position: absolute;
  text-align: center;
  text-fill-color: transparent;
  top: 0;
  width: 118px;
}

.homepage-sub.pre-owned-phone-2 .smart-watches {
  color: transparent;
  height: 52px;
  position: absolute;
}

.homepage-sub.mic-1 .smart-watches {
  color: var(--colorsgreyscale-600);
  font-family: var(--headings-desktop-h5-font-family);
  font-size: var(--headings-desktop-h5-font-size);
  font-style: var(--headings-desktop-h5-font-style);
  font-weight: var(--headings-desktop-h5-font-weight);
  height: 26px;
  left: 0;
  letter-spacing: var(--headings-desktop-h5-letter-spacing);
  line-height: var(--headings-desktop-h5-line-height);
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.homepage-sub.new-phone-1 .smart-watches {
  color: transparent;
  height: 52px;
  position: absolute;
}

.homepage-sub.cases-2 .smart-watches {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(0, 119, 182) 0%, rgb(3, 4, 94) 100%);
  background-clip: text;
  color: transparent;
  font-family: var(--headings-desktop-h5-font-family);
  font-size: var(--headings-desktop-h5-font-size);
  font-style: var(--headings-desktop-h5-font-style);
  font-weight: var(--headings-desktop-h5-font-weight);
  height: 52px;
  left: 0;
  letter-spacing: var(--headings-desktop-h5-letter-spacing);
  line-height: var(--headings-desktop-h5-line-height);
  position: absolute;
  text-align: center;
  text-fill-color: transparent;
  top: 0;
  width: 118px;
}

.homepage-sub.androiid-phone-2 .smart-watches {
  color: transparent;
  height: 52px;
  position: absolute;
}

.homepage-sub.new-phone-2 .smart-watches {
  color: transparent;
  height: 52px;
  position: absolute;
}

.homepage-sub.gaming-2 .smart-watches {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(0, 119, 182) 0%, rgb(3, 4, 94) 100%);
  background-clip: text;
  color: transparent;
  font-family: var(--headings-desktop-h5-font-family);
  font-size: var(--headings-desktop-h5-font-size);
  font-style: var(--headings-desktop-h5-font-style);
  font-weight: var(--headings-desktop-h5-font-weight);
  height: 52px;
  left: 0;
  letter-spacing: var(--headings-desktop-h5-letter-spacing);
  line-height: var(--headings-desktop-h5-line-height);
  position: absolute;
  text-align: center;
  text-fill-color: transparent;
  top: 0;
  width: 118px;
}

.homepage-sub.iphones-2 .smart-watches {
  color: transparent;
  height: 52px;
  position: absolute;
}

.homepage-sub.earphone-2 .smart-watches {
  color: transparent;
  height: 52px;
  position: absolute;
}
