.logo {
  height: 74px;
  position: relative;
  width: 143px;
}

.logo .text-wrapper-3 {
  color: #ffffff;
  font-family: "Lexend", Helvetica;
  font-size: 40px;
  font-weight: 600;
  left: 0;
  letter-spacing: 4px;
  line-height: 66px;
  position: absolute;
  text-align: center;
  top: 3px;
  white-space: nowrap;
}

.logo .text-wrapper-4 {
  color: #ffffff;
  font-family: "Lexend", Helvetica;
  font-size: 40px;
  font-weight: 600;
  left: 26px;
  letter-spacing: 4px;
  line-height: 66px;
  position: absolute;
  text-align: center;
  top: 3px;
  white-space: nowrap;
}

.logo .text-wrapper-5 {
  color: #ffffff;
  font-family: "Lexend", Helvetica;
  font-size: 40px;
  font-weight: 600;
  left: 41px;
  letter-spacing: 4px;
  line-height: 66px;
  position: absolute;
  text-align: center;
  top: 3px;
  white-space: nowrap;
}

.logo .text-wrapper-6 {
  color: #ffffff;
  font-family: "Lexend", Helvetica;
  font-size: 40px;
  font-weight: 600;
  left: 55px;
  letter-spacing: 4px;
  line-height: 66px;
  position: absolute;
  text-align: center;
  top: 3px;
  white-space: nowrap;
}

.logo .overlap {
  height: 74px;
  left: 69px;
  position: absolute;
  top: 0;
  width: 74px;
}

.logo .text-wrapper-7 {
  color: #ffffff;
  font-family: "Lexend", Helvetica;
  font-size: 40px;
  font-weight: 600;
  left: 47px;
  letter-spacing: 4px;
  line-height: 66px;
  position: absolute;
  text-align: center;
  top: 3px;
  white-space: nowrap;
}

.logo .div-wrapper {
  height: 68px;
  left: 25px;
  position: absolute;
  top: 3px;
  transform: rotate(25deg);
  width: 31px;
}

.logo .overlap-group-2 {
  height: 68px;
  position: relative;
  width: 29px;
}

.logo .text-wrapper-8 {
  color: #ffffff;
  font-family: "Lexend", Helvetica;
  font-size: 48px;
  font-weight: 600;
  left: 7px;
  letter-spacing: 4.8px;
  line-height: 66px;
  position: absolute;
  text-align: center;
  top: 1px;
  transform: rotate(-12.5deg);
  white-space: nowrap;
}

.logo .ellipse {
  background: linear-gradient(180deg, rgb(144, 224, 239) 0%, rgb(0, 180, 216) 100%);
  border-radius: 5px;
  height: 10px;
  left: 6px;
  position: absolute;
  top: 14px;
  transform: rotate(-15deg);
  width: 10px;
}
