.color-section-comps {
  height: 288px;
  width: 288px;
}

.color-section-comps .overlap-group-7 {
  height: 576px;
  left: 0;
  position: absolute;
  top: 48px;
  width: 288px;
}

.color-section-comps .group-8 {
  height: 576px;
  left: 0;
  position: absolute;
  top: 0;
  width: 288px;
}

.color-section-comps .side-bar-comps-12 {
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
}

.color-section-comps .side-bar-comps-13 {
  left: 0 !important;
  position: absolute !important;
  top: 48px !important;
}

.color-section-comps .side-bar-comps-14 {
  left: 0 !important;
  position: absolute !important;
  top: 96px !important;
}

.color-section-comps .side-bar-comps-15 {
  left: 0 !important;
  position: absolute !important;
  top: 144px !important;
}

.color-section-comps .side-bar-comps-16 {
  left: 0 !important;
  position: absolute !important;
  top: 192px !important;
}

.color-section-comps .side-bar-comps-17 {
  left: 0 !important;
  position: absolute !important;
  top: 240px !important;
}

.color-section-comps .side-bar-comps-18 {
  left: 0 !important;
  position: absolute !important;
  top: 288px !important;
}

.color-section-comps .side-bar-comps-19 {
  left: 0 !important;
  position: absolute !important;
  top: 336px !important;
}

.color-section-comps .side-bar-comps-20 {
  left: 0 !important;
  position: absolute !important;
  top: 384px !important;
}

.color-section-comps .side-bar-comps-21 {
  left: 0 !important;
  position: absolute !important;
  top: 432px !important;
}

.color-section-comps .side-bar-comps-22 {
  left: 0 !important;
  position: absolute !important;
  top: 480px !important;
}

.color-section-comps .side-bar-comps-23 {
  left: 0 !important;
  position: absolute !important;
  top: 528px !important;
}

.color-section-comps .frame-14 {
  background-color: #eaeaef;
  border-radius: 4px;
  height: 221px;
  left: 264px;
  position: absolute;
  top: 8px;
  width: 8px;
}

.color-section-comps .scroll-bar-3 {
  background-color: var(--colorsgreyscale-300);
  border-radius: 4px;
  height: 102px;
}

.color-section-comps .overlap-group-8 {
  height: 576px;
  position: relative;
  top: -288px;
}

.color-section-comps .frame-15 {
  background-color: #eaeaef;
  border-radius: 4px;
  height: 221px;
  left: 264px;
  position: absolute;
  top: 344px;
  width: 8px;
}

.color-section-comps .scroll-bar-4 {
  background-color: var(--colorsgreyscale-300);
  border-radius: 4px;
  height: 102px;
  position: relative;
  top: 119px;
}

.color-section-comps.color-section-pt-1 {
  overflow: hidden;
  position: relative;
}
