.bottom-directory {
  height: 144px;
  position: relative;
  width: 1440px;
}

.bottom-directory .class {
  color: var(--colorsgreyscale-500) !important;
}

.bottom-directory .logo-instance {
  left: 96px !important;
  position: absolute !important;
  top: 35px !important;
  width: 144px !important;
}

.bottom-directory .frame-2 {
  align-items: flex-start;
  display: inline-flex;
  gap: 64px;
  position: absolute;
  top: 60px;
}

.bottom-directory .top-menu-comp-instance {
  font-family: var(--headings-mobile-h5-font-family) !important;
  font-size: var(--headings-mobile-h5-font-size) !important;
  font-style: var(--headings-mobile-h5-font-style) !important;
  font-weight: var(--headings-mobile-h5-font-weight) !important;
  letter-spacing: var(--headings-mobile-h5-letter-spacing) !important;
  line-height: var(--headings-mobile-h5-line-height) !important;
}

.bottom-directory .class-2 {
  color: var(--colorsgreyscale-500) !important;
  font-family: var(--headings-mobile-h5-font-family) !important;
  font-size: var(--headings-mobile-h5-font-size) !important;
  font-style: var(--headings-mobile-h5-font-style) !important;
  font-weight: var(--headings-mobile-h5-font-weight) !important;
  letter-spacing: var(--headings-mobile-h5-letter-spacing) !important;
  line-height: var(--headings-mobile-h5-line-height) !important;
}

.bottom-directory .top-menu-comp-2 {
  flex: 0 0 auto !important;
}

.bottom-directory .top-menu-comp-3 {
  flex: 0 0 auto !important;
  gap: 8px !important;
}

.bottom-directory.default {
  background-color: #111111;
}

.bottom-directory.seller-pov {
  background-color: var(--icy-gray);
}

.bottom-directory.default .frame-2 {
  left: 450px;
}

.bottom-directory.seller-pov .frame-2 {
  left: 849px;
}
