.bottom-directory {
  height: 144px;
  position: relative;
  width: 1440px;
}

.bottom-directory .logo-3 {
  left: 96px !important;
  position: absolute !important;
  top: 35px !important;
  width: 144px !important;
}

.bottom-directory .class-7 {
  color: var(--colorsgreyscale-500) !important;
}

.bottom-directory .class-8 {
  color: var(--colorsgreyscale-100) !important;
}

.bottom-directory .frame-16 {
  align-items: flex-start;
  display: inline-flex;
  gap: 64px;
  position: absolute;
  top: 60px;
}

.bottom-directory .top-menu-comp-12 {
  font-family: var(--headings-mobile-h5-font-family) !important;
  font-size: var(--headings-mobile-h5-font-size) !important;
  font-style: var(--headings-mobile-h5-font-style) !important;
  font-weight: var(--headings-mobile-h5-font-weight) !important;
  letter-spacing: var(--headings-mobile-h5-letter-spacing) !important;
  line-height: var(--headings-mobile-h5-line-height) !important;
}

.bottom-directory .class-9 {
  color: var(--colorsgreyscale-500) !important;
  font-family: var(--headings-mobile-h5-font-family) !important;
  font-size: var(--headings-mobile-h5-font-size) !important;
  font-style: var(--headings-mobile-h5-font-style) !important;
  font-weight: var(--headings-mobile-h5-font-weight) !important;
  letter-spacing: var(--headings-mobile-h5-letter-spacing) !important;
  line-height: var(--headings-mobile-h5-line-height) !important;
}

.bottom-directory .top-menu-comp-13 {
  flex: 0 0 auto !important;
}

.bottom-directory .top-menu-comp-14 {
  flex: 0 0 auto !important;
  gap: 8px !important;
}

.bottom-directory.property-1-21-default {
  background-color: var(--colorsgreyscale-600);
}

.bottom-directory.property-1-21-seller-pov {
  background-color: var(--icy-gray);
}

.bottom-directory.property-1-21-default .frame-16 {
  left: 450px;
}

.bottom-directory.property-1-21-seller-pov .frame-16 {
  left: 849px;
}
