.order-status {
  background-color: var(--colorsgreyscale-100);
  border: 2px solid;
  border-radius: 12px;
  height: 26px;
  overflow: hidden;
  position: relative;
  width: 117px;
}

.order-status .overlap-group {
  border: 2px solid;
  border-radius: 9px;
  height: 18px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 18px;
}

.order-status .vector {
  height: 8px;
  left: 1px;
  position: absolute;
  top: 3px;
  width: 12px;
}

.order-status .ellipse {
  height: 18px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 18px;
}

.order-status .delievered {
  color: var(--colorsgreyscale-600);
  font-family: var(--body-semibold-6-font-family);
  font-size: var(--body-semibold-6-font-size);
  font-style: var(--body-semibold-6-font-style);
  font-weight: var(--body-semibold-6-font-weight);
  height: 21px;
  left: 28px;
  letter-spacing: var(--body-semibold-6-letter-spacing);
  line-height: var(--body-semibold-6-line-height);
  position: absolute;
  top: 1px;
  white-space: nowrap;
}

.order-status.cancelled {
  border-color: var(--colorsaccentdanger);
}

.order-status.NEW {
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(0, 180, 216), rgb(0, 119, 182)) 1;
}

.order-status.delivered {
  border-color: var(--colorsaccentsuccess);
}

.order-status.ready-to-ship {
  border-color: var(--colorsgreyscale-400);
}

.order-status.shipped {
  border-color: var(--colorsaccentwarning);
}

.order-status.cancelled .overlap-group {
  background-color: var(--colorsaccentdanger);
  border-color: var(--colorsaccentdanger);
}

.order-status.NEW .overlap-group {
  background-color: #ffffff;
  border-color: #17e5a1;
}

.order-status.delivered .overlap-group {
  background-color: #ffffff;
  border-color: #17e5a1;
}

.order-status.ready-to-ship .overlap-group {
  background-color: var(--colorsgreyscale-100);
  border-color: var(--colorsgreyscale-400);
}

.order-status.shipped .overlap-group {
  background-color: var(--colorsaccentwarning);
  border-color: var(--colorsaccentwarning);
}

.order-status.cancelled .delievered {
  width: 76px;
}

.order-status.NEW .delievered {
  width: 76px;
}

.order-status.delivered .delievered {
  width: 76px;
}

.order-status.ready-to-ship .delievered {
  width: 79px;
}

.order-status.shipped .delievered {
  width: 76px;
}
