.top-bar-seller-side {
  background-color: #ffffff;
  width: 1440px;
}

.top-bar-seller-side .frame {
  align-items: center;
  background-color: #ffffff;
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  padding: 0px 8px;
  position: relative;
}

.top-bar-seller-side .div {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.top-bar-seller-side .seller-centre-logo {
  position: relative;
}

.top-bar-seller-side .text-wrapper {
  color: var(--colorsgreyscale-500);
  font-family: "Lexend", Helvetica;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.top-bar-seller-side .text-wrapper-2 {
  color: var(--colorsgreyscale-500);
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.top-bar-seller-side .group {
  position: relative;
}

.top-bar-seller-side .buttons {
  all: unset;
  align-items: center;
  background-color: var(--icy-gray);
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  gap: 8px;
  height: 32px;
  justify-content: center;
  left: 0;
  overflow: hidden;
  padding: 8px 0px;
  position: absolute;
  top: 0;
  width: 120px;
}

.top-bar-seller-side .ADD-TO-CART {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(0, 180, 216) 0%, rgb(0, 119, 182) 100%);
  background-clip: text;
  color: transparent;
  font-family: var(--body-semibold-5-font-family);
  font-size: var(--body-semibold-5-font-size);
  font-style: var(--body-semibold-5-font-style);
  font-weight: var(--body-semibold-5-font-weight);
  letter-spacing: var(--body-semibold-5-letter-spacing);
  line-height: var(--body-semibold-5-line-height);
  margin-bottom: -2px;
  margin-top: -4px;
  position: relative;
  text-fill-color: transparent;
  white-space: nowrap;
  width: fit-content;
}

.top-bar-seller-side .ADD-TO-CART-wrapper {
  all: unset;
  align-items: center;
  background: linear-gradient(180deg, rgb(0, 180, 216) 0%, rgb(0, 119, 182) 100%);
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  gap: 8px;
  height: 32px;
  justify-content: center;
  left: 128px;
  overflow: hidden;
  padding: 8px 0px;
  position: absolute;
  top: 0;
  width: 120px;
}

.top-bar-seller-side .ADD-TO-CART-2 {
  color: #ffffff;
  font-family: var(--body-semibold-5-font-family);
  font-size: var(--body-semibold-5-font-size);
  font-style: var(--body-semibold-5-font-style);
  font-weight: var(--body-semibold-5-font-weight);
  letter-spacing: var(--body-semibold-5-letter-spacing);
  line-height: var(--body-semibold-5-line-height);
  margin-bottom: -2px;
  margin-top: -4px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.top-bar-seller-side .BUY-NOW-wrapper {
  align-items: center;
  background-color: var(--icy-gray);
  border-radius: 8px;
  display: flex;
  gap: 8px;
  height: 32px;
  justify-content: center;
  overflow: hidden;
  padding: 8px 0px;
  position: relative;
  width: 120px;
}

.top-bar-seller-side .BUY-NOW {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(0, 180, 216) 0%, rgb(0, 119, 182) 100%);
  background-clip: text;
  color: transparent;
  font-family: var(--body-semibold-5-font-family);
  font-size: var(--body-semibold-5-font-size);
  font-style: var(--body-semibold-5-font-style);
  font-weight: var(--body-semibold-5-font-weight);
  letter-spacing: var(--body-semibold-5-letter-spacing);
  line-height: var(--body-semibold-5-line-height);
  margin-bottom: -1px;
  margin-top: -5px;
  position: relative;
  text-fill-color: transparent;
  white-space: nowrap;
  width: fit-content;
}

.top-bar-seller-side .seller-centre-logo-wrapper {
  align-items: center;
  background-color: #ffffff;
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  left: 612px;
  padding: 0px 8px;
  position: absolute;
  top: 0;
}

.top-bar-seller-side .seller-centre-logo-2 {
  align-items: center;
  background-color: #ffffff;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  justify-content: center;
  padding: 12px 24px;
  position: relative;
}

.top-bar-seller-side .overlap-group-wrapper {
  height: 48px;
  left: 96px;
  position: absolute;
  top: 96px;
  width: 1249px;
}

.top-bar-seller-side .overlap-group {
  height: 48px;
  position: relative;
  width: 1247px;
}

.top-bar-seller-side .p {
  color: #111111;
  font-family: var(--headings-desktop-h4-font-family);
  font-size: var(--headings-desktop-h4-font-size);
  font-style: var(--headings-desktop-h4-font-style);
  font-weight: var(--headings-desktop-h4-font-weight);
  height: 34px;
  left: 8px;
  letter-spacing: var(--headings-desktop-h4-letter-spacing);
  line-height: var(--headings-desktop-h4-line-height);
  position: absolute;
  top: 7px;
  white-space: nowrap;
}

.top-bar-seller-side .close {
  height: 40px;
  left: 1199px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 40px;
}

.top-bar-seller-side .group-2 {
  height: 42px;
  left: 821px;
  position: absolute;
  top: 3px;
  width: 346px;
}

.top-bar-seller-side .div-wrapper {
  align-items: center;
  background: linear-gradient(180deg, rgb(0, 180, 216) 0%, rgb(0, 119, 182) 100%);
  border-radius: 8px;
  display: flex;
  gap: 8px;
  height: 42px;
  justify-content: center;
  left: 181px;
  overflow: hidden;
  padding: 8px 4px;
  position: absolute;
  top: 0;
  width: 165px;
}

.top-bar-seller-side .ADD-TO-CART-3 {
  color: #ffffff;
  font-family: var(--body-semibold-5-font-family);
  font-size: var(--body-semibold-5-font-size);
  font-style: var(--body-semibold-5-font-style);
  font-weight: var(--body-semibold-5-font-weight);
  letter-spacing: var(--body-semibold-5-letter-spacing);
  line-height: var(--body-semibold-5-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.top-bar-seller-side .button {
  all: unset;
  align-items: center;
  background-color: var(--icy-gray);
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  gap: 8px;
  height: 42px;
  justify-content: center;
  left: 0;
  overflow: hidden;
  padding: 8px 4px;
  position: absolute;
  top: 0;
  width: 165px;
}

.top-bar-seller-side .ADD-TO-CART-4 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(0, 180, 216) 0%, rgb(0, 119, 182) 100%);
  background-clip: text;
  color: transparent;
  font-family: var(--body-semibold-5-font-family);
  font-size: var(--body-semibold-5-font-size);
  font-style: var(--body-semibold-5-font-style);
  font-weight: var(--body-semibold-5-font-weight);
  letter-spacing: var(--body-semibold-5-letter-spacing);
  line-height: var(--body-semibold-5-line-height);
  position: relative;
  text-fill-color: transparent;
  white-space: nowrap;
  width: fit-content;
}

.top-bar-seller-side.seller-home {
  height: 48px;
}

.top-bar-seller-side.add-product {
  height: 160px;
  position: relative;
}

.top-bar-seller-side.seller-sign-up {
  height: 48px;
}

.top-bar-seller-side.seller-dashboard {
  height: 48px;
}

.top-bar-seller-side.seller-home .frame {
  left: 327px;
}

.top-bar-seller-side.add-product .frame {
  left: 327px;
}

.top-bar-seller-side.seller-sign-up .frame {
  left: 393px;
}

.top-bar-seller-side.seller-dashboard .frame {
  left: 613px;
}

.top-bar-seller-side.seller-home .div {
  gap: 324px;
}

.top-bar-seller-side.add-product .div {
  gap: 324px;
}

.top-bar-seller-side.seller-sign-up .div {
  gap: 320px;
}

.top-bar-seller-side.seller-dashboard .div {
  background-color: #ffffff;
  gap: 4px;
  justify-content: center;
  padding: 12px 24px;
}

.top-bar-seller-side.seller-home .seller-centre-logo {
  align-items: center;
  background-color: #ffffff;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  justify-content: center;
  padding: 12px 24px;
}

.top-bar-seller-side.seller-sign-up .seller-centre-logo {
  align-items: center;
  background-color: #ffffff;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  justify-content: center;
  padding: 12px 24px;
}

.top-bar-seller-side.seller-dashboard .seller-centre-logo {
  color: var(--colorsgreyscale-500);
  font-family: "Lexend", Helvetica;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.top-bar-seller-side.seller-home .group {
  height: 32px;
  width: 248px;
}

.top-bar-seller-side.add-product .group {
  width: 248px;
}

.top-bar-seller-side.seller-sign-up .group {
  height: 32px;
  width: 120px;
}

.top-bar-seller-side.seller-dashboard .group {
  color: var(--colorsgreyscale-500);
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}
